@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
 
    font-family: 'Satoshi', sans-serif;
  }

@layer base {
    html {    
    scroll-behavior: smooth;

}
    body {
      @apply bg-[#F5F5F5] text-[#000000] tracking-wide
        
  }
  h1, h2, h3, h4, h5, h6 {
      @apply font-bold 
  }
  h1 {
    @apply text-4xl sm:text-5xl md:text-[85px] 
  }
  h2{
    @apply text-3xl sm:text-4xl
  }
  li{
      @apply cursor-pointer text-[16px] font-semibold text-[#000]
  }
  button {
      @apply shadow-xl shadow-gray-400 uppercase rounded-xl bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white
  }

}
