@tailwind base;
@tailwind components;
@tailwind utilities;


html {    
    scroll-behavior: smooth;
    
}

@layer base {
    /* @font-face {
        font-family: 'CabinetGrotesk-Black';
        src: url(/public/fonts/CabinetGrotesk-Black.woff2) format('woff2');
        font-weight: 400;
        font-display: swap;
        font-style: normal; 
    } */
    body {
      @apply bg-[#F5F5F5] text-[#000000] tracking-wide
        
  }
  h1, h2, h3, h4, h5, h6 {
      @apply font-bold 
  }
  h1 {
      @apply text-8xl sm:text-5xl md:text-8xl
  }
  h2{
      @apply text-5xl sm:text-3xl md:text-5xl
  }
  li{
      @apply cursor-pointer
  }
  button {
      @apply shadow-xl shadow-gray-400 rounded-xl bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white
  }
  Link{
    @apply scroll-smooth
  }
}
